@use '../../styles/mixins.scss' as mixins;

.friends {
  @include mixins.page-bottom-gradient;

  padding-block: 120px;
}

.friends__container {
  display: grid;
  gap: 18px;
}

.friends__title {
  @include mixins.page-title;
}

.friends__content {
  position: relative;
  padding: 22px 20px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  background-color: var(--app-primary-background-color);
}

.friends__image {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-end: 15px;
}

.friends__subtitle {
  display: block;
  font-size: 21px;
  line-height: 1.6;
  text-transform: uppercase;
}

.friends__description {
  display: block;
  max-width: calc(100% - 187px);
  margin-block-end: 12px;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(168, 188, 179);
}

.friends__link {
  @include mixins.gradient-text;

  display: flex;
  align-items: center;
  gap: 6px;
  margin-block-end: 44px;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
}

.friends__additional {
  margin-block-end: 15px;

  &-title {
    margin-block-end: 14px;
    font-size: 17px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 4px;
  }

  &-item {
    display: grid;
    grid-template-columns: 38px 1fr;
    align-items: center;
    gap: 10px;
    padding: 14px 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: var(--app-primary-background-color);
    backdrop-filter: blur(34px);
  }

  &-avatar {
    height: 38px;
    border-radius: 50%;
    background-color: rgb(217, 217, 217);
  }

  &-description {
    font-size: 10px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

.friends__invite {
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: stretch;
  gap: 10px;
}

.friends__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bonus {
  padding-block-start: 23px;
  border: 2px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  background-color: var(--app-primary-background-color);
}

.bonus__title {
  padding-inline: 18px;
  margin-block-end: 14px;
  font-size: 18px;
  text-transform: uppercase;
}

.bonus__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 10px;
  padding: 12px;

  &--active {
    &::before {
      position: absolute;
      inset: -1px;
      z-index: -1;
      border: 1px solid rgba(255, 255, 255, 0.12);
      border-radius: 20px;
      background-color: rgb(66, 57, 52);
      pointer-events: none;
      content: '';
    }
  }
}

.bonus__button {
  padding: 7px 14px;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: var(--app-letter-spacing-2);
  text-transform: uppercase;
  color: var(--app-color-primary);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  background-color: rgb(95, 88, 84);
}

.bonus__locked {
  position: relative;
}

.bonus__label {
  position: absolute;
  inset-block-start: -2px;
  inset-inline-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(24px);
}

.user {
  display: grid;
  grid-template-columns: 48px max-content;
  align-items: center;
  gap: 12px;
}

.user__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.user__name {
  display: block;
  margin-block-end: 3px;
  font-size: 16px;
  font-weight: 600;
}

.user__rate {
  display: flex;
  align-items: center;
  gap: 7px;
  width: max-content;
  padding: 3px 8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.user__level {
  font-size: 10px;
}

.user__stars {
  @include mixins.gradient-text;

  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 10px;
}
