.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--app-button-min-height, 60px);
  width: 100%;
  padding-inline: 16px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: var(--app-letter-spacing-2);
  color: var(--app-color-primary);
  border-radius: 23px;

  &--primary {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-image: var(--app-button-primary-backgorund);
  }

  &--secondary {
    background-color: var(--app-button-secondary-backgorund);
  }

  &--tertiary {
    border: 1px solid rgb(102, 102, 102);
    background-color: var(--app-button-tertiary-background);
  }
}
