@use '../../styles/mixins.scss' as mixins;

.game {
  --app-body-before-height: 177px;

  @include mixins.page-bottom-gradient;

  padding-block-start: 60px;
}

.game__title {
  margin-block-end: 12px;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: -0.03em;
  text-align: center;
}

.game__header {
  position: relative;
  margin-block-end: 8px;
  padding: 15px 16px 12px;
  border-image-source: url('/images/frames/level-frame.svg');
  border-image-repeat: stretch;
  border-image-slice: 0 fill;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
  }

  &::before {
    inset: 1px;
    border-radius: 24px;
    background-color: rgb(201, 151, 77);
  }

  &::after {
    inset-block-start: -20px;
    inset-inline-start: 100px;
    width: 60px;
    height: 64px;
    background-image: url('/images/game/star-background.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
  }
}

.game__description {
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 22px;
  font-size: 10px;
  letter-spacing: -0.01em;
}

.game__level {
  display: block;
  margin-block-end: 8px;
  font-size: 17px;
  letter-spacing: -0.01em;
}

.game__state {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 17px;

  &-value {
    @include mixins.gradient-text;

    font-size: 13px;
    line-height: 1.4;
    letter-spacing: -0.01em;
  }
}

.game__message {
  display: grid;
  grid-template-columns: 76px 1fr;
  align-items: center;
  gap: 5px;
}

.game__avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border: 2px solid rgb(94, 51, 35);
  border-radius: 50%;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('/images/game/avatar-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: avatar-rotating;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    pointer-events: none;
    content: '';
  }
}

.game__plate {
  position: relative;
  padding: 29px 9px 11px 23px;
  border-image-source: url('/images/frames/message-frame.svg');
  border-image-repeat: stretch;
  border-image-slice: 0 fill;

  &-name {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 10px;
    padding: 4px 17px 4px 13px;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    border-start-start-radius: 20px;
    border-end-end-radius: 24px;
    background-color: rgb(94, 51, 35);
  }

  &-text {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    color: rgb(93, 50, 17);
  }
}

.game__menu {
  position: fixed;
  inset-block-end: 90px;
  inset-inline-start: 16px;
  z-index: 1;
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: max-content calc(100% - 150px);
  align-items: end;
  gap: 14px;
}

.game__menu-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.game__menu-item {
  height: 66px;
}

.game__menu-button {
  width: 66px;
  height: 66px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(16px);
}

@keyframes avatar-rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
